
ML100_practice/data/application_test.csv
ML100_practice/data/application_train.csv
ML100_practice/data/bureau.csv
ML100_practice/data/bureau_balance.csv
ML100_practice/data/credit_card_balance.csv
ML100_practice/data/example.jpg
ML100_practice/data/example.mat
ML100_practice/data/example.npy
ML100_practice/data/example.pkl
ML100_practice/data/example.txt
ML100_practice/data/example01.json
ML100_practice/data/example02.json
ML100_practice/data/HomeCredit_columns_description.csv
ML100_practice/data/house_test.csv.gz
ML100_practice/data/house_test.csv/test.csv
ML100_practice/data/house_train.csv.gz
ML100_practice/data/house_train.csv/train.csv
ML100_practice/data/installments_payments.csv
ML100_practice/data/POS_CASH_balance.csv
ML100_practice/data/previous_application.csv
ML100_practice/data/sample_submission.csv
ML100_practice/data/taxi_data1.csv
ML100_practice/data/taxi_data2.csv
ML100_practice/data/titanic_test.csv
ML100_practice/data/titanic_train.csv
O'Reilly/Practice_Aurélien_Géron/datasets/housing/housing.csv
O'Reilly/Practice_Aurélien_Géron/datasets/housing/housing.tgz
O'Reilly/Practice_Aurélien_Géron/datasets/housing/README.md
O'Reilly/Practice_Aurélien_Géron/datasets/inception/imagenet_class_names.txt
O'Reilly/Practice_Aurélien_Géron/datasets/jsb_chorales/jsb_chorales.tgz
O'Reilly/Practice_Aurélien_Géron/datasets/jsb_chorales/README.md
O'Reilly/Practice_Aurélien_Géron/datasets/lifesat/gdp_per_capita.csv
O'Reilly/Practice_Aurélien_Géron/datasets/lifesat/oecd_bli_2015.csv
O'Reilly/Practice_Aurélien_Géron/datasets/lifesat/README.md
interview_exam/complaints.csv
*.csv
